

h1 {
	font-size:150%;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 5px;
}
h2 {
	font-size: 12px;
	font-style: italic;
	color: gray;
	margin-top:5px;
	margin-bottom:5px;
}

/*
.liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }
        #llf > div{
            width: 8vw;
            overflow-x: auto;
        }
*/
#chartForBar,#chartForBar2{
	width:100%;
	height:1000px;
	overflow-y: auto;
	display: inline-flex;
}
.bar{
	fill:#444444;
}
text.label{
	fill: #fff;
	color: #fff;
	font-size: 8px;
	font-weight: bold;
}
text.category{
	fill: #fff;
	font-size: 8px;
}

html { overflow: hidden; }
body { 
	font: 14pt Arial, sans-serif; 
	background: lightgrey;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	margin: 0 0;
	overflow-y: scroll;

}
canvas { 
	display: inline-block; 
	background: #202020; 
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 10px blue;
}
#spectrogram {
	height: 100%;
}
#controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 20%;
	width: 100%;
}
#record { height: 15vh; }
#record.recording { 
	background: red;
	background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%); 
	background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%); 
	background: radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%); 
}
#save, #save img { height: 10vh; }
#save { opacity: 0.25;}
#save.active { opacity: 0.25;}
#viz {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	overflow-y: auto;
}
#viz2,#viz3,#viz5 {
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background: #202020;
}

#viz4 {
	/* height: 80%; */
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: left;
	background: #202020;
	color: #ffffff;
	overflow-y: auto;

}

@media (orientation: landscape) {
	body { flex-direction: row;}
	#viz { height: 100%; width: 90%;}
	#controls { flex-direction: column; height: 100%; width: 10%;}
}